[Unit]
Description=Caddy web server
After=network-online.target

[Service]
user=caddy
Type=exec

ExecStart=/usr/bin/caddy run -config /etc/caddy/Caddyfile
ExecReload=/usr/bin/caddy reload -config /etc/caddy/Caddyfile
ExecStop=/usr/bin/caddy stop

LimitNOFILE=1048576
LimitNPROC=512

PrivateTmp=false
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target