[Unit]
Description=gunicorn daemon crm_metro for server and client and admin
Requires=gunicorn_crm_metro.socket
After=network.target

[Service]
User=crm_metro_user
Group=caddy
WorkingDirectory=/crm_service
Environment="PATH=/crm_service/server/evn/bin"
Environment="PATH=/crm_service/server/evn"
Environment=PYTHONPATH='/crm_service/server/evn'
ExecStart=/crm_service/server/env/bin/gunicorn \
          --access-logfile /crm_service/log/gunicorn/access.log \
          --error-logfile /crm_service/log/gunicorn/error.log \
          --capture-output \
          -k uvicorn.workers.UvicornWorker \
          --workers 3 \
          --bind unix:/run/gunicorn_crm_metro.sock \
          metro_cms_reset.asgi:application

[Install]
WantedBy=multi-user.target
