@import "design-tokens/css-variables.scss";



.container{
  padding: 24px 0;
  .containerRightSpace {
    padding: 0 24px 24px;
    .containerContent {
      padding: 24px;
      margin: 0px;
      min-height: 280px;
    }
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0px;
    .containerRightSpace {
      padding: 0px;
      .containerContent {
        padding: 0px;
      }
    }
  }
}